@model UserRoleVM

@{
    var companyVisible = "display:none";
    if (@Model.User.Role == SD.RoleCompany)
    {
        companyVisible = "display:block;";
    }
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User Role</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="row">
            <input asp-for="User.Id" hidden/>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="User.Name" readonly class="form-control border-0 shadow"/>
                    <label asp-for="User.Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <select id="Input_Role" asp-for="User.Role" asp-items="@Model.Roles" class="form-select"></select>
                </div>
                <div class="form-floating py-2 col-12">
                    <select id="Input_CompanyId"  asp-for="User.CompanyId" asp-items="@Model.Companies" class="form-select" style="@companyVisible"></select>
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <input asp-action="UpdateRole" type="submit" class="btn btn-primary form-control" value="Update Role"/>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        $(document).ready(function (){
            $('#Input_Role').change(function (){
                let selection = $('#Input_Role Option:Selected').text();
                if (selection === 'Company'){
                    $('#Input_CompanyId').show();
                } else {
                    $('#Input_CompanyId').hide();
                }
            })
        })
    </script>
}